@use "@softwareone-platform/sdk-react-ui-v0/design-tokens" as *;

.request-commitment-modal {
  &__custom-field {
    margin-top: $var-spacing-3;
  }

  &__hint {
    display: block;
    margin-top: $var-spacing-2;
  }
}
