@use "@softwareone-platform/sdk-react-ui-v0/design-tokens" as *;

.review-order-step {
  display: flex;
  flex-direction: column;
  gap: $var-spacing-3;

  [class*="grid__table-container"] colgroup col:first-child {
    width: 0.4% !important;
  }

  &__header {
    h2 {
      margin: 0;
    }
  }

  &__grid {
    width: 100%;
  }

  &__tab {
    padding-top: $var-spacing-3;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: $var-spacing-3;
  }

  &__details-item {
    h5,
    p {
      margin: 0;
    }
  }

  &__codes {
    margin: 0;
  }

  &__submitting {
    margin: 0;
  }

  &__disclaimer {
    margin: 0;
  }
}
