@use "@softwareone-platform/sdk-react-ui-v0/design-tokens" as *;

body {
  margin: 0;
}
.discount-wizard-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  width: 100%;
}
