@use "@softwareone-platform/sdk-react-ui-v0/design-tokens" as *;

.discount-summary {
  &__section {
    display: flex;
    flex-direction: column;
    gap: $var-spacing-2;
  }

  &__section-title {
    margin: 0;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: $var-spacing-3;

    > * {
      flex: 0 1 auto;
      max-width: 260px;
    }
  }
}
