@use "@softwareone-platform/sdk-react-ui-v0/design-tokens" as *;

.items-step {
  display: flex;
  flex-direction: column;
  gap: $var-spacing-3;

  &__header {
    h2 {
      margin: 0;
    }
  }

  &__toolbar {
    display: flex;
    justify-content: flex-end;
  }

  &__grid {
    width: 100%;
  }

  &__conflict {
    p {
      margin: 0;
    }

    ul {
      margin: $var-spacing-1 0;
      padding-left: $var-spacing-4;
    }
  }

  &__validating {
    margin: 0;
  }

  &__disclaimer {
    margin: 0;
  }
}
