@use "@softwareone-platform/sdk-react-ui-v0/design-tokens" as *;

.select-items-dialog {
  display: flex;
  flex-direction: column;
  gap: $var-spacing-3;

  [class*="grid__table-container"] {
    table {
      width: 100% !important;
    }

    colgroup col {
      width: 1% !important;
    }

    colgroup col:first-child {
      width: 0.6% !important;
    }

    th,
    td {
      min-width: 0 !important;
      max-width: none !important;
    }
  }

  &__grid {
    width: 100%;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  p {
    margin: 0;
  }
}
