@use "@softwareone-platform/sdk-react-ui-v0/design-tokens" as *;

.discount-wizard {
  display: flex;
  flex-direction: column;

  [class*="wizard__step__index"] {
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
