@use "@softwareone-platform/sdk-react-ui-v0/design-tokens" as *;

.loader {
  position: fixed;
  inset: 0;
  z-index: $var-z-top;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #00000040;

  &__panel {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;

    background-color: var(--brand-white);
    border-radius: $var-radius-s;
  }
}
