@use "@softwareone-platform/sdk-react-ui-v0/design-tokens" as *;

.review-order-step {
  &__highlights {
    padding: $var-spacing-3 0;
  }

  &__footer-text {
    margin-top: $var-spacing-3;
    color: $var-gray-4;

    p {
      margin: 0;
    }
  }

  &__tab {
    padding-top: $var-spacing-3;
  }
}
