@use "@softwareone-platform/sdk-react-ui-v0/design-tokens" as *;

.discounts {
  display: flex;
  flex-direction: column;
  gap: $var-spacing-1;
  width: 100%;
  min-width: 0;

  .extension__content-description {
    margin: $var-spacing-1 0 0 0;
  }

  & &__add-action {
    color: #472aff;

    &:hover {
      background: $var-alerts-info-2;
      background-color: $var-alerts-info-2;
    }
  }

  &__grid {
    min-width: 0;
  }

  &__cell {
    display: flex;
    flex-direction: column;
    min-width: 0;

    p {
      margin: 0;
    }
  }

  &__code-line {
    display: flex;
    align-items: center;
    gap: $var-spacing-2;
  }
}
