@use "@softwareone-platform/sdk-react-ui-v0/design-tokens" as *;

.highlights {
  &__content {
    display: flex;
    gap: $var-spacing-6;

    padding: $var-spacing-3;
    border: 1px solid $var-gray-2;

    @extend %rad_m;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: $var-spacing-1;
    overflow: hidden;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;

    &__title {
      @extend %medium2;
    }

    &__content {
      overflow: hidden;
      min-width: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__currency {
      flex-shrink: 1;
      min-width: 0;
    }
  }
}
