@use "@softwareone-platform/sdk-react-ui-v0/design-tokens" as *;

.request-renewal__wizard {
  display: flex;
  flex-direction: column;

  [class*="wizard__step__index"] {
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  [class*="grid__table__empty-row"] + [class*="grid__table__empty-row"] {
    display: none;
  }

  [class*="grid__table-container"] {
    table {
      width: 100% !important;
    }

    colgroup col {
      width: 1% !important;
    }

    th,
    td {
      min-width: 0 !important;
      max-width: none !important;
    }
  }
}
