@use "@softwareone-platform/sdk-react-ui-v0/design-tokens" as *;

.upgrade-from-step {
  &__header {
    h2 {
      margin: 0;
    }
  }
  &__grid {
    margin-top: $var-spacing-3;
  }
  &__highlights {
    padding: $var-spacing-3 0;
  }
  &__inline-text {
    display: flex;
    align-items: center;
    gap: $var-spacing-2;
    padding: $var-spacing-1;
    border: 1px solid $var-gray-2;

    @extend %rad_m;

    p {
      margin: 0;
    }

    &__pill {
      flex-shrink: 0;
      width: $var-spacing-1;
      height: 36px;
      border-radius: $var-radius-s;
      background-color: $var-brand-primary;
    }
  }
  &__footer-text {
    margin-top: $var-spacing-3;
    color: $var-gray-4;

    p {
      margin: 0;
    }
  }
}
