@use "@softwareone-platform/sdk-react-ui-v0/design-tokens" as *;

.summary-step {
  display: flex;
  flex-direction: column;
  gap: $var-spacing-3;

  &__header {
    h2 {
      margin: 0;
    }
  }

  &__template {
    width: 700px;
    max-width: 100%;
    padding: $var-spacing-4;
    background-color: $var-gray-1;
    border-radius: $var-radius-m;
  }
}
