@use "@softwareone-platform/sdk-react-ui-v0/design-tokens" as *;

.split-billing-option {
  display: flex;
  flex-direction: column;
  gap: $var-spacing-3;
  max-width: 500px;

  &__label {
    margin: 0;
  }
}
